/kata001/.idea
/kata002/.idea
/kata002/server/node_modules
/kata002/server/dist
/kata001/public/vendor
/kata003/node_modules
/kata003/.idea
/kata003/client/development/vendor
/kata003/client/vendor
/kata003/bin/production
/kata003/bin/views
