script(type='text/ng-template', id='users-template.html')
    include templates/users-template
script(type='text/ng-template', id='overview-template.html')
    include templates/overview-template
script(type='text/ng-template', id='customers-template.html')
    include templates/customers-template