script(type='text/ng-template', id='users-template.html')
    include templates/users-template
script(type='text/ng-template', id='overview-template.html')
    include templates/overview-template
script(type='text/ng-template', id='customers-template.html')
    include templates/customers-template
script(type='text/ng-template', id='departments-template.html')
    include templates/departments-template
script(type='text/ng-template', id='ratingtypes-template.html')
    include templates/ratingtypes-template
script(type='text/ng-template', id='objects-template.html')
    include templates/objects-template
script(type='text/ng-template', id='statistics-template.html')
    include templates/statistics-template
script(type='text/ng-template', id='import-ratings-template.html')
    include templates/import-ratings-template
script(type='text/ng-template', id='roles-template.html')
    include templates/roles-template
script(type='text/ng-template', id='smart-table-template.html')
    include templates/smart-table-template
script(type='text/ng-template', id='smart-table-head-template.html')
    include templates/smart-table-head-template