//.container-fluid
//    .row
//        .col-sm-3.col-md-2.sidebar
//            ul.nav.nav-sidebar
//                li.active
//                    a(href='#', ng-click='onOverview()') Overview
//                li
//                    a(href='#', ng-click='onUsers()') Users
//            ul.nav.nav-sidebar
//                li
//                    a(href='#', ng-click='onLogout()') Logout
.container-fluid
    .row
        .col-sm-3.col-md-2.sidebar
            ul.nav.nav-sidebar
                li(ng-repeat='menu in mainMenus', class='{{menu.active}}')
                    a(href='#', ng-click='onClick(menu)') {{menu.title}}

