.panel.panel-default
    .panel-heading
        h2 {{info}}
    .panel-body
        ul(class='stars-list list-inline')
            span Your chose:
            li(class='glyphicon glyphicon-star' ng-repeat='i in rating track by $index')
.panel.panel-default(data-ng-show='showComment')
    .panel-heading
        h2 Comment
    .panel-body
        form(role='form')
            .form-group
                textarea(class='form-control', rows='5', ng-disabled='disabled', data-ng-model='comment')
            button(class='btn btn-success btn-lg', data-ng-disabled='disabled', data-ng-click='onComment(comment)') Comment
.panel.panel-default
    .panel-heading
        h2 Download mobile app:
    .panel-body
        a(href="https://play.google.com/store/apps/details?id=com.beirate.app")
            img(class='img-responsive' src='images/en/android-app-button.png')
input(type='hidden', id='rating-value', value='#{r}')