.panel.panel-default
    .panel-heading Panel heading without title
    .panel-body
        div
            h4 Rated
        div
            {{fingerprint}}
        div
            {{userAgent}}
        div
            {{ip}}