div
    .col-lg-7
        div(ui-chart='someData', chart-options='myChartOpts')
    .col-lg-5
        .form-group
            label.col-lg-2.control-label(for='fromDateTime') From:
            .col-lg-10
                input#fromDateTime.form-control(placeholder='From:', type='date')
        .form-group
            label.col-lg-2.control-label(for='toDateTime') To:
            .col-lg-10
                input#toDateTime.form-control(placeholder='To:', type='date')
